<nav class="navbar navbar-main navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(potepan_path, class: 'navbar-brand') do %>
        <%= image_tag("img/logo.png", :alt => "") %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(potepan_path) %>">
          <%= link_to('Home', potepan_path) %>
        </li>
        <li class="dropdown megaDropMenu <%= 'active' if product_pages? %>">
          <%= link_to('Shop', 'javascript:void(0)', class: 'dropdown-toggle', 'data-toggle': 'dropdown', 'data-hover': 'dropdown', 'data-delay': '300', 'data-close-others': 'true', 'aria-expanded': 'false') %>
        </li>
      </ul>
    </div>
  </div>
</nav>