<% provide :title, @taxon.name %>
<%= render 'potepan/shared/light_sections/page_header', page_title: @taxon.name, breadcrumb_active_list: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter' %>
        <div class="row">
          <%= render partial: 'potepan/categories/grid/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/light_sections/partner' %>