<div class="row singleProduct">
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left productSlider">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% product.images.each_with_index  do |image, index| %>
              <div class="item <%= 'active' if index.zero? %>" data-thumb="<%= index %>">
                <%= image_tag(image.attachment.url(:large)) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <% product.images.each_with_index  do |image, index| %>
                <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
                  <%= image_tag(image.attachment.url(:small)) %>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="media-body">
        <ul class="list-inline">
          <li>
            <%= link_to potepan_category_path id: product.taxons.first.id do %>
              <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
            <% end %>
          </li>
        </ul>
        <h2><%= product.name %></h2>
        <h3><%= product.display_price %></h3>
        <p><%= product.description %></p>
        <%= form_with(scope: :cart_form, url: potepan_add_cart_path, id: 'cart-form',local: true) do |f|%>
          <% variants_and_option_values = product.variants_and_option_values_for %>
          <% if variants_and_option_values.any? %>
            <span class="quick-drop">
              <%= f.collection_select(:variant, variants_and_option_values, :id, :options_text, { include_blank: false }, class: 'select-drop') %>
            </span>
          <% end %>
          <span class="quick-drop resizeWidth">
            <%= f.select(:amount, 1..10, { include_blank: false }, class: 'select-drop') %>
          </span>
          <div class="btn-area">
            <%= button_tag(type: :submit, class: 'btn btn-primary btn-block') do %>
              カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>