<% provide :title, @product.name %>
<%= render 'potepan/shared/light_sections/page_header', page_title: @product.name, breadcrumb_active_list: @product.name %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main', product: @product %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'related_product', collection: @related_products %>
    </div>
  </div>
</section>