<!DOCTYPE html>
<html>
  <head>
    <title><%= generate_full_title(page_title: yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render(partial: 'layouts/headers/header') %>
      <%= yield %>
      <%= render(partial: 'layouts/footers/footer') %>
    </div>
    <%= render(partial: 'potepan/shared/modals/login') %>
    <%= render(partial: 'potepan/shared/modals/sign_up') %>
  </body>
</html>
